.icon {
    width: 10%;
    height: 10%;
}

.section {
    display: flex;
    align-items: center;
    background-color: (255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.section img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.section .text {
    max-width: 600px;
    color: black
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.alert-slide {
    animation: slideIn 0.3s ease-out;
    margin: 0.5rem;
    max-width: 100%;
}

@media (min-width: 576px) {
    .alert-slide {
      max-width: 350px;
    }
}