{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="section">
        <img src='/static/img/logo.png' alt="...">
        <div class="text">
            <p>описание деятельности, опыт работы</p>
        </div>
    </div>

    <div class="section">
        <img src='/static/img/logo.png' alt="...">
        <div class="text">
            <p>Описание помещения климата и тд</p>

        </div>
    </div>
        <div class="section">
        <img src='/static/img/logo.png' alt="...">
        <div class="text">
            <p>Информация о главном по производству человеке(в формате видеоролика)</p>

        </div>
    </div>
</div>
{% endblock %}
