{% extends "base.html" %}

{% block content %}
<form method="post">
    <label for="login">Логин</label>
    <input type="text" id="login" name="login" class="form-control" placeholder="Введите логин" required>

    <label for="password">Пароль</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Введите пароль" required>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>
{% endblock %}
