{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="section">
        <img src='/static/img/mushrooms.jpg' alt="Корзина грибов">
        <div class="text">
            <h3>Этап №1.</h3>
            <h2>Сбор грибов.</h2>
            <p>Мы идем в лес и собираем грибы. Ничего необычного.</p>
        </div>
    </div>

    <div class="section">
        <img src='/static/img/sale.png' alt="Продажа грибов">
        <div class="text">
            <h3>Этап №2.</h3>
            <h2>Продажа грибов.</h2>
            <p>Мы продаем собранные грибы Вам, наслаждаясь процессом и зарабатывая деньги.</p>
        </div>
    </div>
</div>
{% endblock %}